/* css reset */
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}
/* taken from: https://medium.com/@elad/normalize-css-or-css-reset-9d75175c5d1e */
*{
  box-sizing: border-box;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background-image:url(https://res.cloudinary.com/dum4u7sro/image/upload/v1583552247/Untitled_design_wuf0w8.png);
  background-repeat: repeat-x;
  background-position: 0 100%;
  z-index: 1;
  animation: parallax_bg linear 40s infinite;
  }
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Muli', serif;
    font-weight: 300;
  } 
  nav{
    position: fixed;
    z-index: 2;
    top:0;
    background: white;
    box-shadow: 0px 0px 20px 1px #888888;
    border-bottom: solid 1.3px;
    width: 100vw;
  }
  nav>section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 4vw;
    font-size: 1.3vw;
    width: 100vw;
  }
  
  nav>section>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
  }
  nav>section>div>a{
    padding-right: 3%;
    padding-left: 4%;
  }
  nav>section>div>a:hover{
    text-shadow: 2px 2px 8px rgb(128, 244, 255);
  }
  /* #specialButton{
    justify-content: flex-end;
    padding-right: 3%;
    font-size: 1vw;
    font-family: 'Josefin Slab', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
  } */
  i{
    font-size: 2.3vw;
  }
  
  /* hero section */
  header {
    /* max-width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(244, 244, 244);
    background: url(https://res.cloudinary.com/dum4u7sro/image/upload/v1583702975/1_rfhu1x.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 40px 2px #888888 inset;
    height: 50vw;
  }
  header>div>p{
    font-size: 2vw;
    padding-bottom: 6%;
  }
  header>div{
    background: rgba(244, 244, 244, 0.8);
    padding: 3%;
    border: solid 1.5px;
    box-shadow: 0px 0px 40px 2px #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: nowrap; */
  }
  header>div>h1{
    font-size: 6.5vw;
    font-family: Barrio;
    flex: 1;
    padding-bottom: 6%;
  }
  header>div>a{
    text-align: center;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2.5vw;
    min-width: auto;
    border: solid 1.5px;
    width: 50%;
    height: 100%;
    box-shadow: 0px 0px 20px 1px #888888;
    background: rgb(137, 255, 137);
  }
  header>div>a:hover{
    box-shadow: 0px 0px 20px 1px #000000;
    background: black;
    color: white;
    font-family: 'Barrio', serif;
  }
  nav>section>div>a>i:hover{
    animation: wiggle 2s infinite;
    text-shadow: 2px 2px 8px rgb(255, 128, 226);

  }
  header>div:hover{
    box-shadow: 0px 0px 10px 2px rgb(167, 180, 251);
  }

  /* about me section */
  article:nth-of-type(1){
    border: solid 1.5px;
    display: grid;
    grid-template-columns: 0.1fr 8fr 8fr 0.1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
      "h h h h"
      ". pic about .";
    grid-gap: 5%;
    box-shadow: 0px 0px 10px 2spx #888888;
    padding: 4%;
    padding-bottom: 5%
  }
  article:nth-of-type(1)>section{
    align-self: center;
  }
  article:nth-of-type(1)>section:nth-of-type(1){
    grid-area: h;
    text-align: center;
    font-family: Barrio;
    padding-bottom: 1%;
    font-size: 5vw;
  }

  article:nth-of-type(1)>section:nth-of-type(2){
      grid-area: pic;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  article:nth-of-type(1)>section:nth-of-type(3){
    grid-area: about;
    font-size: 1.6vw;
    box-shadow: 0px 0px 10px 0px #888888;
    border: solid 1px black;
    border-radius: 3px;
    padding: 5%;
    margin-bottom: 15%;
  }
  article:nth-of-type(1)>section:nth-of-type(2)>img{
    max-width: 70%;
    height: auto;
    border-radius: 50%;
    padding: 2%;
    margin: 0 auto;
    border: solid 1px;
    box-shadow: 0px 0px 10px 0px #888888 inset;
  }
  article:nth-of-type(1)>section:nth-of-type(2)>div{
    font-size: 1.2vw;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 1px;
    align-items: space-between;
    justify-content: space-around;
    margin-top: 4%;
    box-shadow: 0px 0px 10px 0px #888888;
  }
  section:nth-of-type(2)>div>h4{
    padding: 2%;
  }
  article:nth-of-type(1)>section>p{
    padding-bottom: 4%;
  }
  
  /* #aboutMeButton{
    background: rgb(128, 244, 255);
    font-family: 'Barrio', serif;
    font-size: 2vw;
    border: solid 1px black;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 0px 10px 0px #888888;
  } */
  .deleteButton{
    background: rgb(128, 244, 255);
    font-family: 'Barrio', serif;
    font-size: 2vw;
    border: solid 1px black;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 0px 10px 0px #888888;
  }
  .deleteButton:hover{
    background: black;
    color: white;
  }
  /* portfolio section */
  article:nth-of-type(2){
    max-width: 100vw;
    box-shadow: 0px 0px 10px 2px #888888 inset;
    background: url(https://res.cloudinary.com/dum4u7sro/image/upload/v1583702991/2_uyq590.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  article:nth-of-type(2)>button{
   max-width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   padding: 2%;
   font-family: Barrio;
   font-size: 3vw;
   text-shadow: 2px 2px 8px rgb(128, 244, 255);
   background: rgba(244, 244, 244, 0.8);
   border: solid 1.5px;
   box-shadow: 0px 0px 10px 2px #888888;
  }
  button>img{
    height:30vw;
  }
  article:nth-of-type(2)>button:hover{
    box-shadow: 0px 0px 10px 2px rgb(255, 128, 226);
  }
  button>img:hover{
    animation: wiggle 2s infinite;
  }

  .cardOverlay{
    width:100%;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    height:100%;
    padding: 3%;
  }
  .card{
    height: 50%;
    background-color: white;
    border: solid 1px;
    margin: 2% auto;
    width: 30%;
    box-shadow: 0px 0px 10px 2px #888888;
  }
  .card:hover{
    background-color: rgba(128, 244, 255, 0.8);
    box-shadow: 0px 0px 10px 2px #000000;
  }

  .iconDescription>i{
    padding:4%;
  }
  .iconDescription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: .5%;
    width: 50%;
    padding: 2%;
    margin: 0% auto;
  }
  @keyframes wiggle {
    0% { transform: rotate(10deg); }
    10% { transform: rotate(-10deg); }
    20% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    40% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    60% { transform: rotate(10deg); }
    70% { transform: rotate(-10deg); }
    80% { transform: rotate(10deg); }
    90% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}
.pImg{
  height: 15vw;
  z-index: 0;
  position: static;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}
.overlay{
  background: black;
}
  /* contact me section */
  article:nth-of-type(3){
    padding: 5%;
    border: solid 1.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 1000px;
    font-size: 1.5vw;
    box-shadow: 0px 0px 20px 2px #888888;
  }
  article:nth-of-type(3)>section:nth-of-type(1){
    text-align: center;
  }
  article:nth-of-type(3)>section>img{
    max-width: 50%;
    margin: 0 auto;
  }
  article:nth-of-type(3)>section>h1 {
    font-family: Barrio;
    font-size: 4vw;
  }
  form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    border: solid 1.5px;
    padding: 5%;
    box-shadow: 0px 0px 10px 0px #888888;
  } 
  label{
    padding-bottom: 2%;
    padding-top: 2%;
  } 
  article:nth-of-type(3)>section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  h3{
    font-size: 3vw;
  }
  main>div{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
 
  #subBut{
    font-family: 'Barrio', serif;
    font-size: 2vw;
    border: solid 1px black;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgb(255, 128, 226);
    box-shadow: 0px 0px 10px 0px #888888;
  }
  #subBut:hover{
    color: white;
    box-shadow: 0px 0px 10px 0px #000000;
  }
@keyframes parallax_bg {
    100% { background-position-x: 100%, 100%, 0%, 0%, 90%;}
  }


@media (max-width: 700px) 
{
  article:nth-of-type(3){
    flex-direction: column;
    justify-self: center;
    align-items: center;
    max-height: 100vh;
  }
  article:nth-of-type(3)>section
  {
    padding-top: 2%;
  }
  form{
    width: 70vw;
  }
  article:nth-of-type(3)>section>img{
    display: none;
  }
} 


